* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Be Vietnam Pro";
}

button {
	border: none;
	padding: 0.75rem 2rem;
	border-radius: 30px;
	color: white;
	background-color: var(--color-primary);
}
/* Estilo del Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: red 2px solid;
	padding: 3rem 6rem;
}

nav {
	display: flex;
	gap: 2rem;
}

.nav-item {
	color: var(--color-tertiary);
}

.nav-disabled {
	color: grey;
	cursor: not-allowed;
}
/* Fin Estilo del Header */

/* Estilo de Intro */
.intro {
	display: flex;
	border: blue 2px solid;
	max-width: 70rem;
	margin-inline: auto;
	padding: 2rem;
}

.intro img {
	border: green 2px solid;
	width: 50%;
	aspect-ratio: 1;
}

.intro-article {
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: space-between;
	padding-block: 1rem;
	padding-inline: 5rem 1rem;
	text-align: right;
	align-items: flex-end;
}
.intro-article button {
	text-align: right;
	width: 8rem;
}
h1 {
	font-size: xx-large;
}

/* Fin estilo Intro */

/* Estilo de Mid */
.mid {
	display: flex;
	align-items: center;
	
	background-color: var(--color-primary);
	color: white;
}
.mid-container {
	display: flex;
	align-items: center;
	max-width: 70rem;
	margin: auto;
}
.mid h2,
.mid p {
	width: 50%;
	padding-inline: 2rem;
}

.mid-cards {
	padding: 2rem 2rem;
	display: flex;
	margin: auto;
	padding-inline: clamp(0.5rem, calc(2*10vw), 40%);
	flex-wrap: wrap;
	background-color: var(--color-quaternary);
	justify-content: space-around;
	gap: 2rem;
}

.mid-card {
	width: 45%;
}
/* Fin estilo Mid */

/* Estilo de Bottom */
.bottom {
	text-align: center;
}

h2 {
	padding: 4rem;
}
.bottom-cards {
	display: flex;
	gap: 2rem;
	padding-inline: clamp(0.5rem, 10vw, 25%);
	margin: 2rem;
	background-color: var(--color-quaternary);
}
.bottom-card {

	padding-block: 3rem 1rem;
	position: relative;
	text-align: center;
}
.bottom-card img {
	position: absolute;
	top: -35px;
	left: calc(50% - 35px);
}
/* Fin estilo Bottom */

/* Estilo de Footer */
.pre-footer {
	display: flex;
	margin-top: 5rem;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary);
	color: white;
}
.pre-footer button {
	margin-inline: 4rem;
	color: var(--color-primary);
	background-color: white;
	height: 3rem;
}
footer {
	color: white;
	background-color: var(--color-tertiary);
	text-align: center;
	padding: 2rem;
}
.footer {
	display: flex;
	justify-content: space-around;
}
.footer a {
	color: white;
}
.footer-icons {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: flex-start;
	justify-content: space-between;
}
.footer-icons img {
	height: 2rem;
}
.footer-links {
	display: flex;
	flex: 2;
	gap: 2rem;
}
.footer-link {
	display: flex;
	text-align: left;
	flex: 1;
	font-weight: 100;
	gap: 1rem;
	flex-direction: column;
}

input {
	border: none;
	padding: 0.75rem 2rem;
	border-radius: 30px;
	color: white;
	transition: all 0.5s ease-in-out;
}

.footer-update {
	height: 3rem;
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.footer-copyright {
	color: var(--color-font-tertiary);
}

/* Fin estilo Footer */

/* Inicio Media Query */

@media (max-width: 950px) {
	.nav-responsive {
		display: none;
	}
	.intro {
		flex-direction: column;
	}
	.intro img,
	.intro-article {
		margin: auto;
		width: 100%;
	}
	.mid {
		background-color: var(--color-secondary);
	}
	.mid-container {
		flex-direction: column;

		padding-bottom: 2rem;
	}
	.mid h2,
	.mid p {
		width: 100%;
		padding-inline: 2rem;
	}
	.mid-cards {
		flex-direction: column;
	}
	.mid-card {
		margin: auto;
		width: 100%;
	}

	.hide {
		display: none;
	}

	.pre-footer {
		background-color: var(--color-secondary);
		flex-direction: column;
		padding-bottom: 2rem;
	}

	.pre-footer button {
		color: white;
		background-color: var(--color-font-primary);
		height: 3rem;
	}

	/* Estilo mobile footer */
	.footer {
		flex-direction: column-reverse;
	}

	.footer-update {
		margin-block: 0 2rem;
	}

	.footer-icons {
		align-items: center;
		margin-block: 2rem;
		gap: 1rem;
		flex-direction: column-reverse;
	}

	.footer-icon {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	/* Fin estilo Mobile footer */
}
